<!doctype html>
<html class="no-js" lang="zxx">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>shibiludheen | eCommers</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/slicknav.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/price_rangs.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/style.css">
<script nonce="e774ea63-89a5-4ec2-9e1e-02ce44767e1d">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="preloader-circle"></div>

</div>
</div>
</div>

<header>
<div class="header-area">

<div class="header-mid header-sticky">
<div class="container">
<div class="menu-wrapper">



<div class="main-menu d-none d-lg-block">
<nav>
<ul id="navigation">

<%  categorie.forEach((x)=>{ %>
<li><a href="categories?q=<%=x.category%>"><%= x.category %></a></li>
<%})%>
<% if(logginChecker==true){%>
    <li><a href="/logout">Logout</a></li>
    <%}else{%>
        <li><a href="/loginPage">Login</a></li>
        <%}%>

</ul>
</nav>
</div>

<div class="header-right">
<ul>
<li>
<div class="nav-search search-switch hearer_icon">
<a id="search_1" href="javascript:void(0)">
<span class="flaticon-search"></span>
</a>
</div>
</li>
<li> <a href="accountView"><span class="flaticon-user"></span></a></li>
<li class="cart" data-count="<%=cartCount%>"><a href="cart"><span class="flaticon-shopping-cart"></span></a>
</ul>
</div>
</div>

<div class="search_input" id="search_input_box">
<form class="search-inner d-flex justify-content-between " method="post"  action="search">
<input type="text" class="form-control" id="search_input" name="search" placeholder="Search Here">
<button type="submit" class="btn"></button>
<span class="ti-close" id="close_search" title="Close Search"></span>
</form>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
<%banner.forEach((element)=>{%>
                <%if(element.isActive==true){%>
            <div class="header-bottom text-center">
                <p><%=element.description%><a href="categories?q=men" class="browse-btn">Shop
                        Now</a></p>
            </div>
            <%}else{%>
                <div class="header-bottom text-center" hidden>
                <p hidden><a href="categories" class="browse-btn" hidden>Shop
                        Now</a></p>
            </div>
                <%}%>
            <%})%>
</div>
</header>
<main>

<div class="hero-area section-bg2">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider-area">
<div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
<div class="hero-caption hero-caption2">
<h2><%=orginalCategory%></h2>
<nav aria-label="breadcrumb">
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="listing-area pt-50 pb-50">
<div class="container">
<div class="row">

<div class="col-xl-3 col-lg-4 col-md-4">

<div class="category-listing mb-50">

<div class="single-listing">

<div class="select-Categories pb-30">
<div class="select-job-items2 mb-30">
<div class="col-xl-12">
    <form action="categorychange" method="post">
<select id="subcategorieId" name="category">
    <% subcategory.forEach((x)=>{ %>
<option   value="<%=x.category%>"><%=x.category%></option>
<%})%>
</select>
<button  type="submit" class="btn">Filter</button>
</form>
</div>
</div>
</div>
<div class="select-Categories pb-30">
<div class="select-job-items2 mb-30">
<div class="col-xl-12">
    <form action="priceChange" method="post">
<select id="subcategorieId" name="Price" required>
<option   value="1">Lower to Higher</option>
<option   value="-1">Higer to Lower</option>


</select>
<button  type="submit" class="btn">Sort</button>
</form>
</div>
</div>
</div>
</div>
</div>

</div>



<div class="col-xl-9 col-lg-8 col-md-8">
<div class="latest-items latest-items2">
<div class="row">
<% product.forEach(function(product){%>
   <% if(product.status==true){%>
<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="pro-details?q=<%=product._id%>"><img src="image/products/<%=product.images[0]%>" alt=""></a>
<div class="socal_icon">
</div>
</div>
<div class="properties-caption properties-caption2">
<h3><a href="pro-details?q=<%=product._id%>"><%=product.productName %></a></h3>
<div class="properties-footer">
<div class="price">
<span>₹<%=product.price%> </span>
</div>
</div>
</div>
</div>
</div>
</div>
<%}%>
<%})%>
</div>
</div>
</div>


</main>
<footer>
<div class="footer-wrapper gray-bg">
<div class="footer-area footer-padding">

<section class="subscribe-area">
<div class="container">
<div class="row justify-content-between subscribe-padding">
<div class="col-xxl-3 col-xl-3 col-lg-4">
<div class="subscribe-caption">
<h3>Subscribe Newsletter</h3>
<p>Subscribe newsletter to get 5% on all products.</p>
</div>
</div>
<div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9">
<div class="subscribe-caption">
<form action="#">
<input type="text" placeholder="Enter your email">
<button class="subscribe-btn">Subscribe</button>
</form>
</div>
</div>
<div class="col-xxl-2 col-xl-2 col-lg-4">

<div class="footer-social">
<a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-youtube"></i></a>
</div>
</div>
</div>
</div>
</section>

<div class="container">
<div class="row justify-content-between">
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
<div class="single-footer-caption mb-50">
<div class="single-footer-caption mb-20">

</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Shop Men</h4>
<ul>
<li><a href="#">Clothing Fashion</a></li>
<li><a href="#">Winter</a></li>
<li><a href="#">Summer</a></li>
<li><a href="#">Formal</a></li>
<li><a href="#">Casual</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Shop Women</h4>
<ul>
<li><a href="#">Clothing Fashion</a></li>
<li><a href="#">Winter</a></li>
<li><a href="#">Summer</a></li>
<li><a href="#">Formal</a></li>
<li><a href="#">Casual</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Baby Collection</h4>
<ul>
<li><a href="#">Clothing Fashion</a></li>
<li><a href="#">Winter</a></li>
<li><a href="#">Summer</a></li>
<li><a href="#">Formal</a></li>
<li><a href="#">Casual</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Quick Links</h4>
<ul>
<li><a href="#">Track Your Order</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Carrier</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bottom-area">
<div class="container">
<div class="footer-border">
<div class="row">
<div class="col-xl-12 ">

</div>
</div>
</div>
</div>
</div>
</div>
</footer>

<div id="back-top">
<a class="wrapper" title="Go to Top" href="#">
<div class="arrows-container">
<div class="arrow arrow-one">
</div>
<div class="arrow arrow-two">
</div>
</div>
</a>
</div>


<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>

<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.magnific-popup.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/price_rangs.js"></script>

<script src="assets/js/contact.js"></script>
<script src="assets/js/jquery.form.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/mail-script.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  
</script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"78ff30e8b90d85c5","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

</html>