<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shibiludheen | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/flaticon.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/price_rangs.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script
    nonce="b5154309-584f-4942-810f-1519ea192592">(function (w, d) { !function (f, g, h, i) { f[h] = f[h] || {}; f[h].executed = []; f.zaraz = { deferred: [], listeners: [] }; f.zaraz.q = []; f.zaraz._f = function (j) { return function () { var k = Array.prototype.slice.call(arguments); f.zaraz.q.push({ m: j, a: k }) } }; for (const l of ["track", "set", "debug"]) f.zaraz[l] = f.zaraz._f(l); f.zaraz.init = () => { var m = g.getElementsByTagName(i)[0], n = g.createElement(i), o = g.getElementsByTagName("title")[0]; o && (f[h].t = g.getElementsByTagName("title")[0].text); f[h].x = Math.random(); f[h].w = f.screen.width; f[h].h = f.screen.height; f[h].j = f.innerHeight; f[h].e = f.innerWidth; f[h].l = f.location.href; f[h].r = g.referrer; f[h].k = f.screen.colorDepth; f[h].n = g.characterSet; f[h].o = (new Date).getTimezoneOffset(); if (f.dataLayer) for (const s of Object.entries(Object.entries(dataLayer).reduce(((t, u) => ({ ...t[1], ...u[1] }))))) zaraz.set(s[0], s[1], { scope: "page" }); f[h].q = []; for (; f.zaraz.q.length;) { const v = f.zaraz.q.shift(); f[h].q.push(v) } n.defer = !0; for (const w of [localStorage, sessionStorage]) Object.keys(w || {}).filter((y => y.startsWith("_zaraz_"))).forEach((x => { try { f[h]["z_" + x.slice(7)] = JSON.parse(w.getItem(x)) } catch { f[h]["z_" + x.slice(7)] = w.getItem(x) } })); n.referrerPolicy = "origin"; n.src = "../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(f[h]))); m.parentNode.insertBefore(n, m) };["complete", "interactive"].includes(g.readyState) ? zaraz.init() : f.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>

<body>

  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
        </div>
      </div>
    </div>
  </div>

  <header>
    <div class="header-area">

      <div class="header-mid header-sticky">
        <div class="container">
          <div class="menu-wrapper">


            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <% categorie.forEach((x)=>{ %>
                    <li><a href="categories?q=<%=x.category%>">
                        <%= x.category %>
                      </a></li>
                    <%})%>
                   
                      <% if(logginChecker==true){%>
    <li><a href="/logout">Logout</a></li>
    <%}else{%>
        <li><a href="/loginPage">Login</a></li>
        <%}%>

                </ul>
              </nav>
            </div>

            <div class="header-right">
              <ul>
                <li>
                  <div class="nav-search search-switch hearer_icon">
                    <a id="search_1" href="javascript:void(0)">
                      <span class="flaticon-search"></span>
                    </a>
                  </div>
                </li>
                <li> <a href="accountView"><span class="flaticon-user"></span></a></li>
                <li class="cart" data-count="<%=cartCount%>"><a href="cart"><span class="flaticon-shopping-cart"></span></a>
              </ul>
            </div>
          </div>

          <div class="search_input" id="search_input_box">
            <form class="search-inner d-flex justify-content-between " method="post" action="search">
              <input type="text" class="form-control" id="search_input" name="search" placeholder="Search Here">
              <button type="submit" class="btn"></button>
              <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
          </div>

          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>

    </div>
  </header>
  <main>
    <% order.forEach(order => {%>
      
   
    
  </section>
  <%if(!order){ %>
      <div class="header-bottom text-center">
        <p> YOU DON'T ORDER ANYTHING<a href="/" class="browse-btn">Shop Now</a></p>
      </div>

      <%} else{ %>
        <section class="h-100 gradient-custom">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                  <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                      <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                    </div>

                    <div class="card shadow-0 border mb-4">
                      <div class="card-body">
                          
                            <%if(order.status=="paid"||order.status=="Cod"){%>
                              <div class="row d-flex align-items-center">
                                <div class="col-md-2">
                                  <p class="text-muted mb-0 small">Track Order</p>
                                </div>
                                <div class="col-md-10">
                                  <%if(order.delivery=="delivered") {%>
                                    <div class="progress" style="height: 6px; border-radius: 16px;">
                                      <div class="progress-bar" role="progressbar"
                                        style="width: 100%; border-radius: 16px; background-color: #f80303;"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <%}else if(order.delivery=="Out for delivery" ){%>
                                      <div class="progress" style="height: 6px; border-radius: 16px;">
                                        <div class="progress-bar" role="progressbar"
                                          style="width: 65%; border-radius: 16px; background-color: #f80303;"
                                          aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <%}else if(order.delivery=="shipped" ){%>
                                        <div class="progress" style="height: 6px; border-radius: 16px;">
                                          <div class="progress-bar" role="progressbar"
                                            style="width: 37%; border-radius: 16px; background-color: #f80303;"
                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <%}else if(order.delivery=="order placed" ){%>
                                          <div class="progress" style="height: 6px; border-radius: 16px;">
                                            <div class="progress-bar" role="progressbar"
                                              style="width: 20%; border-radius: 16px; background-color: #f80303;"
                                              aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <%}%>
                                          <%if(order.orderStatus=="return"){%>
                                            <div class="d-flex justify-content-around mb-1">
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Product return has been requested</p>
                                            
                                            </div>
                                            <%}else if(order.orderStatus=="orderCancelled"){%>
                                              <div class="d-flex justify-content-around mb-1">
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Order has been cancelled</p>
                        
                                              </div>
                                              <%}else{%>
                                              <div class="d-flex justify-content-around mb-1">
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Order placed</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                            </div>
                                            <%}%>
                                </div>
                              </div>
                              <%}else{%>
                                <div class="row d-flex align-items-center">
                                  <div class="col-md-2">
                                    <p class="text-muted mb-0 small">Track Order</p>
                                  </div>
                                  <div class="col-md-10">
                                    <%if(order.delivery=="delivered") {%>
                                      <div class="progress" style="height: 6px; border-radius: 16px;">
                                        <div class="progress-bar" role="progressbar"
                                          style="width: 100%; border-radius: 16px; background-color: #f80303;"
                                          aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <%}else if(order.delivery=="Out for delivery" ){%>
                                        <div class="progress" style="height: 6px; border-radius: 16px;">
                                          <div class="progress-bar" role="progressbar"
                                            style="width: 65%; border-radius: 16px; background-color: #f80303;"
                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <%}else if(order.delivery=="shipped" ){%>
                                          <div class="progress" style="height: 6px; border-radius: 16px;">
                                            <div class="progress-bar" role="progressbar"
                                              style="width: 37%; border-radius: 16px; background-color: #f80303;"
                                              aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <%}else if(order.delivery=="order placed" ){%>
                                            <div class="progress" style="height: 6px; border-radius: 16px;">
                                              <div class="progress-bar" role="progressbar"
                                                style="width: 0%; border-radius: 16px; background-color: #f80303;"
                                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <%}%>
                                              <div class="d-flex justify-content-around mb-1">
                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Order don't placed becuase
                                                  something went wrong</p>
                                              </div>
                                  </div>
                                </div>
                                <%}%>
                      </div>
                    </div>

                    <div class="d-flex justify-content-between pt-2">
                      <p class="fw-bold mb-0">Order Details</p>
                      <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>₹<%=order.totelAmount%>
                      </p>
                    </div>
                  </div>
                  <div class="card-footer border-0 px-4 py-5"
                    style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                    <%if(order.status=="paid"){%>
                      <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                        paid: <span class="h2 mb-0 ms-2">₹<%=order.totelAmount%></span></h5>
                      <%}else if(order.status=="Cod"&&order.delivery=="delivered"){%>
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                          paid: <span class="h2 mb-0 ms-2">₹<%=order.totelAmount%></span></h5>
                        <%}else{%>
                          <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                            paid: <span class="h2 mb-0 ms-2">₹Not paid</span></h5>
                            <%}%>
                            <% if(order.delivery=="delivered" ||order.delivery=="Out for delivery"||order.orderStatus=="orderCancelled"){%>
                              <%if(order.walletStatus=="true"&&order.status=="paid"||order.paymentOption=="COD"&&order.walletStatus=="true"){%>
                                <p class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0"> 
                                  Amount added to wallet : ₹<%=order.walletAmount%> </p>
                                <%}%>
                                <%}else{%>
                                  <%if(order.walletStatus=="true"&&order.status=="paid"||order.paymentOption=="COD"&&order.walletStatus=="true"){%>
                                    <p class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0"> Discounted
                                      price from wallet : ₹<%=order.walletAmount%> </p>
                                    <%}%>
                                <%}%>
                              <%if(order.coupenStatus=="true"){%>
                                <p class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0"> 
                                 Coupon applied : %<%=order.couponAmount%> </p>
                              <%}%>

                          <form action="deleteOrder?q=<%=order._id%>" method="post">
                            <% if(order.delivery=="delivered" ||order.delivery=="Out for delivery"||order.orderStatus=="orderCancelled" ){ %>
                              <button hidden type="submit" class="btn btn-outline-primary ms-1"> CANCEL ORDER</button>
                              <%}else{%>
                                <button type="submit" class="btn btn-outline-primary ms-1"> CANCEL ORDER</button>
                                <%}%>
                          </form>
                          <form action="showProductDetails?q=<%=order._id%>" method="post">
                           
                              <button  type="submit" class="btn btn-outline-primary ms-1"> Product details</button>
                          </form>
                          
                          <% if(order.delivery=="delivered" ){%>
                            <button type="submit" class="btn btn-outline-primary ms-1"><a
                                href="returnOrder?q=<%=order._id%>"> Return</a> </button>

                            <%}%>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }%>
        </section>

        
     <% });%>
  </main>



  <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/price_rangs.js"></script>

  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/mail-script.js"></script>
  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
    integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
    data-cf-beacon='{"rayId":"78ff30b9580185c5","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}'
    crossorigin="anonymous"></script>
</body>

</html>